<!DOCTYPE html>
<html lang="en" ng-app="maxblog">
  <head>
    <meta charset="utf-8">
    <title>maxschorer.com</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/angular-highcharts-directive.js"></script>
  </head>
  <body ng-controller="MaxBlogCtrl">
    <div class="container">
      <h1><a href="#">MaxSchorer.com</a></h1>
      <!-- Header -->
      <div class="navbar">
	<div class="navbar-inner">
	  <div class="container">
	    <ul class="nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Projects</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contact</a></li>
	    </ul>
	  </div>
	</div>
      </div>

      <h2>Some Stats of Ice and Fire</h2>

      <!-- Chart -->
      <div class="row">
	<div class="span2">
	  Choose Character: <input ng-model="query">
	  <table>
	    <tr ng-repeat="char in chars | filter:query">
	      <td><input type="radio" ng-model="Display" name="character" ng-click="changeDisplay(char.name)"> {{char.name}}</td>
	    </tr>
	  </table>
	</div>
	<div class="span10" height="100px"><chart value='chart'></chart></div>
      </div>

    <!-- Data displayed in chart -->
      <div class="row">
	<div class="span2"> </div>
	<div class="span9">
	  <table width="100%">
	    <tr>
	      <th align="center">Character</th>
	      <th ng-repeat="ep in episodes" align="center">{{ep.episode_id}}</th>
	    </tr>
	    <tr>
	      <td>{{display.name}}</td>
	      <td ng-repeat="i in ep_range" align="center">{{display['words_by_ep'][i-1]}}</td>
	    </tr>
	  </table>
	</div>
      </div>

   <!-- Search box and blog post -->

   <div class="row">
   <!-- Search box -->
     <div class="span3">
     </div>

     <!-- Blog post -->
     <div class="span9">
       <p> I will post my blog stuff here </p>
     </div>
     
   </div>

   <p>Display name {{display.name}}</p>
   <p> Chart data {{chart.series}} </p>
   <p> Chart Object {{chartData}} </p>
  </body>
</html>
